/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tw Cen MT';
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body e o html ocupem 100% da altura da tela */
    width: 100%; /* Garante que o body e o html ocupem 100% da largura da tela */
    overflow-x: hidden; /* Evita rolagem horizontal */
}

/* Estilização básica do header */
header {
    background-color: #202732; /* Cor de fundo do header */
    color: #ffffff; /* Cor do texto no header */
    padding: 10px 0; /* Espaçamento interno do header */
    width: 100%; /* Garante que o header ocupe toda a largura da tela */
    position: fixed; /* Fixa o header na parte superior da página */
    top: 0; /* Posiciona o header no topo */
    z-index: 1000; /* Define a ordem de empilhamento (pode ser ajustado conforme necessário) */
}

.container {
    display: flex; /* Usa flexbox para alinhar itens na mesma linha */
    align-items: center; /* Alinha itens verticalmente no centro */
    justify-content: space-between; /* Alinha itens com espaço entre eles */
    padding: 0 20px; /* Espaçamento interno para os lados */
}

/* Estilo para a logo */
.logo {
    height: 40px; /* Ajusta a altura da logo conforme necessário */
}

/* Estilo para a navegação */
.menu-nav {
    display: flex; /* Usa flexbox para alinhar os links na mesma linha */
}

.menu-nav a {
    color: #ffffff; /* Cor dos links no header */
    text-decoration: none; /* Remove sublinhado dos links */
    padding: 10px 15px; /* Espaçamento interno dos links */
}

/* Estilo de hover para os links no header */
.menu-nav a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse sobre os links */
    border-radius: 7px; /* Borda arredondada nos links ao passar o mouse */
}

/* Estilização da seção de introdução */
.intro {
    position: relative;
    background: url('/img/construction.png') no-repeat center center; /* Adiciona a imagem de fundo */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-attachment: scroll; /* Faz com que a imagem se mova ao rolar a página */
    color: white; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Define a altura para cobrir a tela toda */
    width: 100vw; /* Garante que a largura seja 100% da viewport */
    overflow: hidden; /* Garante que nenhum conteúdo ultrapasse os limites da seção */
    margin-top: 0px; /* Move a seção para cima, atrás do header */
    padding-top: 80px; /* Garante que o conteúdo da seção não fique atrás do header */
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080; /* Sobreposição escura */
    z-index: 1;
}

.intro-content {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima da sobreposição */
}

.intro .certified {
    font-size: 20px;
}

.intro .title {
    font-size: 40px;
}

.intro .highlight {
    font-size: 40px;
    color: #ffee00;
}

.intro .description {
    margin: 20px 0;
}

/* Estilo dos botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 60px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Margem superior para separar os botões do texto acima */
}

.custom-button {
    background-color: #ffd828;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Animação de transição suave */
}

.custom-button:hover {
    background-color: #c5a819;
}

/* Estilização da seção de boas-vindas */
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Largura máxima do container */
    width: 100%;
}

.welcome-content {
    max-width: 600px; /* Largura máxima do conteúdo de texto */
}

.welcome-content h2 {
    font-size: 36px;
    color: #ffd828;
    margin-bottom: 10px;
}

.welcome-content h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.welcome-content a.custom-button {
    display: inline-block;
    margin-top: 20px;
}

.welcome-image {
    max-width: 400px; /* Largura máxima da imagem */
}

.welcome-image img {
    width: 100%;
    height: auto;
}

/* Seção "Why Choose Us" */
.why-choose-us {
    padding: 60px 20px; /* Espaçamento interno da seção */
    background-color: #f5f5f5; /* Cor de fundo da seção */
    text-align: center; /* Centraliza o texto */
}

.container-why {
    max-width: 1200px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
}

.why-choose-us h2 {
    font-size: 36px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior do título */
}

.why-choose-us p {
    font-size: 16px; /* Tamanho da fonte do parágrafo */
    margin-bottom: 40px; /* Espaçamento inferior do parágrafo */
    color: #666; /* Cor do texto do parágrafo */
}

.why-choose-us .features {
    display: flex; /* Usa flexbox para alinhar os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
    justify-content: center; /* Centraliza os itens */
}

.why-choose-us .feature-item {
    flex: 1; /* Os itens ocupam espaço igual */
    max-width: 400px; /* Largura máxima dos itens */
    margin: 20px; /* Espaçamento ao redor dos itens */
    text-align: center; /* Centraliza o texto dos itens */
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease; /* Transição suave para transformações e sombras */
    height: 250px; /* Altura base dos itens */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites dos itens */
    display: flex; /* Usa Flexbox para alinhar itens */
    flex-direction: column; /* Alinha itens em coluna */
    justify-content: center; /* Centraliza itens verticalmente */
    align-items: center; /* Centraliza itens horizontalmente */
}

.why-choose-us .feature-item:hover {
    transform: translateY(-10px); /* Eleva o item */
    box-shadow: 0 10px 20px #00000033; /* Adiciona uma sombra */
    height: 250px; /* Aumenta a altura ao passar o mouse */
}

.why-choose-us .feature-icon {
    width: 100px; /* Largura do ícone */
    height: 100px; /* Altura do ícone */
    margin: 0 auto 20px; /* Centraliza o ícone e adiciona espaçamento inferior */
    background-color: #ffd828; /* Cor de fundo do ícone */
    border-radius: 50%; /* Torna o ícone circular */
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.why-choose-us .icon-border {
    border-radius: 50%;
    border: 5px solid #FFD700; /* Adiciona a borda dourada */
    padding: 10px; /* Adiciona preenchimento para criar um efeito de borda mais espessa */
}

.why-choose-us .feature-item h3 {
    font-size: 22px; /* Tamanho da fonte do título do item */
    margin-bottom: 10px; /* Espaçamento inferior do título do item */
}

.why-choose-us .feature-item p {
    font-size: 16px; /* Tamanho da fonte do parágrafo do item */
    color: #666; /* Cor do texto do parágrafo do item */
}

/* Estilos para a seção de notícias */
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.news-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.news-item img {
    width: 100%;
    height: 200px; /* Definindo uma altura fixa para as imagens */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

.section-title {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.news-item h3 {
    font-size: 18px;
    margin: 15px 0;
}

.news-item p {
    font-size: 14px;
    color: #555;
    padding: 0 15px;
    text-align: justify;
}

.news-item a {
    margin: 20px;
    background-color: #ffd828;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Animação de transição suave */
}

.news-item a:hover {
    background-color: #c5a819;
    color: #fff;
}

.news-item:hover {
    transform: translateY(-5px);
}

/* PORTFOLIO */

.portfolio {
    background-color: #D4A700; /* Cor de fundo semelhante ao amarelo */
    padding: 50px 0;
}

.section-title-love {
    text-align: center;
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-description {
    text-align: center;
    color: #FFF;
    margin-bottom: 40px;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 30px;
}

.filter-button {
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.filter-button.active,
.filter-button:hover {
    background-color: #555;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}


/* Responsividade */
@media (max-width: 768px) {
    .menu-nav {
        display: none; /* Esconde o menu de navegação em telas pequenas */
    }
    
    .intro-content .title,
    .intro-content .highlight {
        font-size: 24px; /* Reduz o tamanho da fonte do título em telas pequenas */
    }

    .welcome-container {
        flex-direction: column; /* Alinha o conteúdo em coluna em telas pequenas */
        text-align: center; /* Centraliza o texto */
    }

    .welcome-content,
    .welcome-image {
        max-width: 100%; /* Garante que o conteúdo ocupe 100% da largura */
    }
}
