/* Estilos rápidos para layout de equipe */
.team-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.team-member {
    display: inline-block;
    width: 250px;
    margin: 20px;
    text-align: center;
    background-color: #f0f0f0; /* Fundo básico, mude conforme necessário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-member h3 {
    margin: 10px 0;
    color: #005a7e; /* Cor do título */
}

.team-member p {
    font-size: 14px;
    color: #555; /* Cor do texto da descrição */
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #005a7e;
    color: #ccc;
    width: 100%;
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
    .team-member {
        width: 100%;
    }
}