/* SOBRE O APP */
#about-app {
    text-align: center;
    padding: 60px 0;
    background-color: #f5f5f5;
}

#about-app h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #005a7e;
}

#about-app p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
}

#about-app .btn {
    background-color: #005a7e;
    color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
}

#about-app .btn:hover {
    background-color: #004a68;
}

/* Estilos rápidos para layout de equipe */
.team-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 178px 20px;
    text-align: center;
}

.team-member {
    display: inline-block;
    width: 250px;
    margin: 20px;
    text-align: center;
    background-color: #f0f0f0; /* Fundo básico, mude conforme necessário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Mantém o aspecto correto da imagem sem esticar */
    margin-bottom: 15px;
}

.team-member h3 {
    margin: 10px 0;
    color: #005a7e; /* Cor do título */
}

.team-member p {
    font-size: 14px;
    color: #555; /* Cor do texto da descrição */
}

.team-container h2 {
    padding-bottom: 30px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #005a7e;
    color: #ccc;
    width: 100%;
}

/* Ajuste para telas menores */
@media screen and (max-width: 768px) {
    .team-member {
        width: 100%;
    }
}